.bar.bar-stable {
  border-color: #b2b2b2;
  //background-color: #f8f8f8;
  //background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  color: white;
  background-image: url("../img/NaviBar@3x.png");
  background-size: cover;
}

.bar.bar-stable .title {
  color: white;
}

.tabs-icon-top {
  .message-on {
    background-image: url("../img/tabs/message-f@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29%;
  }

  .message-off {
    background-image: url("../img/tabs/message-G@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29%;
  }

  .application-on {
    background-image: url("../img/tabs/application-F@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26%;
  }

  .application-off {
    background-image: url("../img/tabs/application-G@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26%;
  }

  .contact-on {
    background-image: url("../img/tabs/contact-B@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26%;
  }

  .contact-off {
    background-image: url("../img/tabs/contact-G@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26%;
  }

  .mine-on {
    background-image: url("../img/tabs/mine-B@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
  }

  .mine-off {
    background-image: url("../img/tabs/mine-G@3x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
  }
}
