<ion-view view-title="应用">
  <ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
      <button class="button" ng-click="">左侧按钮</button>
    </div>
    <h1 class="title">应用</h1>

    <div class="buttons">
      <button class="button">右侧按钮</button>
    </div>
  </ion-header-bar>
  <ion-content class="mainApplication">

    <input type="text" hand-api-mouse-even placeholder="密码" ng-model="loginData.password"
           style="width:100%;font-size: 14px;border:1px solid #000000">

  </ion-content>
</ion-view>
