<ion-view>
  <ion-content class="login">
    <div class="img-login">
    </div>
    <div class="img-login1"></div>
    <form ng-submit="doLogin()" style="margin-top: 8%">
      <div>
        <div class="input-item0">
          <div class="input-item"></div>
          <input type="text" hms-mouse-even="red" placeholder="用户名" ng-model="loginData.username"
                 style="height:18px;width:60%;font-size: 14px;background-color: #DFE8F4;margin-left: 4%;float:left;margin-top: 5%">
        </div>
      </div>

      <div style="height: 42px;border-bottom: #DBE0E4 1px solid; background-color: #DFE8F4;
            width:68%;margin-left: 16%;margin-top:10px;  -webkit-border-radius: 15px;">
        <div class="input-item2"></div>
        <input id="pwd" type="password" hms-input-number placeholder="密码" ng-model="loginData.password"
               style="height:18px;width:60%;font-size: 14px;background-color: #DFE8F4;margin-left: 4%;float:left;margin-top: 5%">

        <div class="input-item3" id="cls">
        </div>
      </div>

      <div class="row" style="height: 45px;margin-top: 3%;padding: 0px">
        <div class="col" style="min-width: 65%;padding: 0px;padding-top: 0.5%;">
          <label class="toggle toggle-positive" style="margin-left: 75%;">
            <input type="checkbox" ng-checked="checkbox_savePwd" ng-click="savePassword()">

            <div class="track" style="height: 24px;width: 40px;margin-top: 5px;border: none;">
              <div class="handle" style="height: 22px;width: 22px;top: 11px;border: none;"></div>
            </div>
          </label>
        </div>
        <div class="col" style="min-width: 30%;padding: 0px;">
          <label style="font-size: 12px;color: #FAFBFD;margin-right: 40%;line-height: 35px">记住密码</label>
        </div>
      </div>
      <button ng-class="{true: 'unableLogin',false: 'ableLogin'}
        [loginData.username == '' || loginData.password == '']"
              style="color: white;border: 0px;-webkit-border-radius: 15px;width: 68%;height: 45px;text-align: center;margin-top: 50px;">
        登录
      </button>
      <div style="text-align: center;margin-top:20px;color:#FFFFFF;">
        Version：{{currentVersionNum}}
      </div>
    </form>
  </ion-content>
</ion-view>
