
.login {
  background: url(../img/backgroundImg.png) fixed center center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  text-align: center;

  .input-item0 {
    height: 42px;
    width: 68%;
    margin-left: 16%;
    border-bottom: #DBE0E4 1px solid;
    background-color: #DFE8F4;
    margin-top: 26px;
    -webkit-border-radius: 15px;

  }
  .input-item {
    padding: 14px;
    margin-left: 5px;
    margin-top: 8px;
    width: 28px;
    height: 28px;
    float: left;
    background: url(../img/username@2x.png);
    background-size: 100%;
  }

  .input-item2 {
    padding: 14px;
    margin-left: 5px;
    margin-top: 8px;
    width: 28px;
    height: 28px;
    float: left;
    background: url(../img/password.png);
    background-size: 100%;
  }

  .input-item3 {
    margin-right: 4.5%;
    margin-top: 4.5%;
    width: 18px;
    height: 18px;
    float: right;
    background: url(../img/delete@2x.png);
    background-size: 100%;
  }

  .img-login {
    height: 57px;
    width: 132px;
    margin-top: 20%;
    margin-left: 33.3%;
    background-size: 100%
  }

  .img-login1 {
    width: 122px;
    height: 14px;
    line-height: 15px;
    background-image: url("../img/Better Experience@2x.png");
    margin-left: 33.3%;
    background-size: 100%;
    margin-top: 20px;
  }

  .unableLogin {
    background-color: #DFE8F4;
  }

  .ableLogin {
    background-color: #d72f32;
  }

}
